
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  border: 1px solid #000000;
  padding: 10px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 3px 0px 10px 0px;
}

#shape{
    margin: 20px;
}
